ul
{
    list-style: none;
}

.myMarginator
{
    margin-left: 20%;
}

.myTable td
{
    vertical-align: top;
}

/*.my_table tr:hover*/
/*{*/
    /*border: 2px solid gold;*/
/*}*/

.my_table
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*.friendsTable td:hover*/
/*{*/
    /*border: 2px solid gold;*/
/*}*/

.myCol
{
    column-width: 200pt;
}

.friendsTable tr {
    cursor: pointer;
}
