ul
{
    list-style: none;
}

.myMarginator
{
    margin-left: 20%;
}

.myTable td
{
    vertical-align: top;
}

.friendsTable td:hover
{
    border: 2px solid gold;
}

.myCol
{
    column-width: 200pt;
}

.friendsTable tr {
    cursor: pointer;
}
